body {
  background-image: url("../images/space.jpg");
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#planets-table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto;
}

.fact-sheet-title {
  color: white;
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  text-shadow: 2px 2px 5px #18E3D1;
  font-family: Copperplate, fantasy;
}

.table-heading,
.planet {
  background-color: #18E3D1;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  padding: 8px;
  text-align: left;
}

.data,
.blank {
  border: 1px solid;
  padding: 8px;
  font-family: Garamond, "Times New Roman", serif;
}

.data {
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #DCDCDC;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
